.feature-box {
    padding         : 2.5rem;
    background-color: rgba($white, .8);
    border-radius   : $radius;
    box-shadow      : 0 1.5rem 4rem rgba($black, .15);

    font-size       : 1.5rem;
    text-align      : center;

    @include transition(.3s, transform);

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    @include respond(tablort) {
        padding: 2rem;
    }

    &__icon {
        margin-bottom: .5rem;
        padding      : .1rem;
        font-size    : 6rem;

        @include gradient-text;

        @include respond(tablort) {
            margin-bottom: 0;
        }
    }
}