.nav {
    &__list {
        list-style: none;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display        : inline-block;
            text-decoration: none;
            text-transform : uppercase;
            color          : inherit;

            @include transition(.2s);
        }

        &:hover,
        &:active,
        &:focus {
            color: darken($inherit, 10);
        }
    }

    &__checkbox {
        display: none;
    }

    &__btn {
        width           : 7rem;
        height          : 7rem;
        position        : fixed;
        top             : 6rem;
        right           : 6rem;
        background-color: $white;
        border-radius   : 100%;
        box-shadow      : 0 1rem 3rem rgba($black, .1);
        z-index         : 2000;
        cursor          : pointer;
    }

    &__bg {
        width           : 6rem;
        height          : 6rem;
        position        : fixed;
        top             : 6.5rem;
        right           : 6.5rem;
        background-image: radient(($color-primary-light, $color-primary-dark));
        border-radius   : 100%;
        z-index         : 1000;

        @include transition(.8s, transform, cubic-bezier(0.86, 0, 0.07, 1));
    }

    &.horizontal &__item  {
        display: inline-block;
        margin : 0;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &.primary {
        width   : 0;
        height  : 100vh;
        position: fixed;
        top     : 0;
        left    : 0;
        opacity : 0;
        z-index : 1500;

        @include transition(.8s, all, cubic-bezier(0.68, -0.55, 0.265, 1.55));
    }

    &.primary &__list {
        width        : 100%;
        text-align   : center;
        counter-reset: anchor;
        @include center-box;
    }

    &.primary &__link {
        &:link,
        &:visited {
            padding         : 1rem 2rem;
            font-size       : 3rem;
            font-weight     : 300;
            color           : $white;
            background-image: ladient(120deg, (transparent 0%, transparent 50%, $white 50%));
            background-size : 220%;

            @include transition(.4s);

            &::before {
                display          : inline-block;
                margin-right     : 1.5rem;
                counter-increment: anchor;
                content          : '0' counters(anchor, '.');
            }
        }

        &:hover,
        &:active,
        &:focus {
            color              : $color-primary;
            background-position: 100%;
            transform          : translateX(1rem);
        }
    }

    &__checkbox:checked ~ &__bg {
        transform: scale(80);
    }

    &__checkbox:checked ~ &.primary {
        width  : 100%;
        opacity: 1;
    }

    &.tertiary &__link {
        &:link,
        &:visited {
            background-color: $grey-dark-3;
            color           : $grey-light-1;
        }

        &:hover,
        &:active,
        &:focus {
            box-shadow: 0 1rem 2rem rgba($black, .4);
            transform : rotate(5deg) scale(1.3);
            color     : $color-primary;
        }
    }


    // ICON
    &__icon {
        @include center-box;

        &,
        &::before,
        &::after {
            display         : inline-block;
            width           : 3rem;
            height          : .2rem;
            background-color: $grey-dark-3;
        }

        &::before,
        &::after {
            position: absolute;
            left    : 0;
            content : '';

            @include transition(.2s);
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__btn:hover &__icon::before {
        top: -1rem;
    }

    &__btn:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__btn &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__btn &__icon::before {
        top      : 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__btn &__icon::after {
        top      : 0;
        transform: rotate(-135deg);
    }
}