@mixin clearfix {
    &::after {
        content: '';
        display: block;
        clear  : both;
    }
}


@mixin transition($seconds, $property: all, $easing: ease) {
    transition: $property $seconds $easing;
}


@mixin bg-img($img, $url: $media-url, $format: $default-format) {
    background-image: url($url + $img + $format);
}


@mixin gradient-img(
    $img,
    $bg-position: initial,
    $bg-size    : cover,
    $repeat     : no-repeat,
    $direction  : to right bottom,
    $colors     : (rgba($color-primary-light, .9), rgba($color-primary-dark, .9)),
    $url        : $media-url,
    $format     : $default-format) {
        background-image   : gradient(linear-gradient, $direction, $colors),
                             url($url + $img + $format);
        background-repeat  : $repeat;
        background-size    : $bg-size;
        background-position: $bg-position;
}


@mixin gradient-img-only(
    $img,
    $direction: to right bottom,
    $colors   : (rgba($white, .9) 0%, rgba($white, .9) 50%, transparent 50%),
    $url      : $media-url,
    $format   : $default-format) {
        background-image: gradient(linear-gradient, $direction, $colors),
                          url($url + $img + $format);
}


@mixin gradient-text(
    $direction: to right,
    $colors   : ($color-primary-light, $color-primary-dark)) {
        display                : inline-block;
        color                  : transparent;
        background-image       : gradient(linear-gradient, $direction, $colors);
        -webkit-background-clip: text;
}