@mixin clearfix {
    &::after {
        content: '';
        display: block;
        clear  : both;
    }
}


@mixin center-box(
    $pos-y    : 50%,
    $pos-x    : $pos-y,
    $x        : -50%,
    $y        : $x,
    $position : absolute,
    $new-value: null,
    $centered : yes) {
        @if $centered == yes {
            position : $position;
            top      : $pos-y;
            left     : $pos-x;
            transform: translate($x, $y) $new-value;
        }

        @if $centered == no {
            position : relative;
            top      : 0;
            left     : 0;
            transform: translate(0, 0) $new-value;
        }
}


@mixin transition($seconds, $property: all, $easing: null, $delay: null) {
    transition: $property $seconds $easing $delay;
}


@mixin bg-img($img, $url: $media-url, $format: $default-format) {
    background-image: url($url + $img + $format);
}


@mixin gradient-img(
    $img,
    $bg-position: initial,
    $bg-size    : cover,
    $repeat     : no-repeat,
    $direction  : to right bottom,
    $colors     : (rgba($color-primary-light, .9), rgba($color-primary-dark, .9)),
    $url        : $media-url,
    $format     : $default-format) {
        background-image   : ladient($direction, $colors),
                             url($url + $img + $format);
        background-repeat  : $repeat;
        background-size    : $bg-size;
        background-position: $bg-position;
}


@mixin gradient-img-only(
    $img,
    $direction: to right bottom,
    $colors   : (rgba($white, .9) 0%, rgba($white, .9) 50%, transparent 50%),
    $url      : $media-url,
    $format   : $default-format) {
        background-image: ladient($direction, $colors),
                          url($url + $img + $format);
}


@mixin gradient-text(
    $direction: to right,
    $colors   : ($color-primary-light, $color-primary-dark)) {
        display                : inline-block;
        color                  : transparent;
        background-image       : ladient($direction, $colors);
        -webkit-background-clip: text;
}


/*
MEDIA QUERY MANAGER

0      - 600px  : Phone
600    - 900px  : Tablet portrait mode
900    - 1200px : Tablet landscape mode
[1200  - 1800px]: Is where our normal styles apply (Desktop)
1800px ->       : Big Desktop

$breakpoint argument choices:
- phone
- tablort
- tabland
- bigesk

ORDER: Base + Typography -> Layout + Grid -> Pages + Components

1em = 16px (default browser font-size)
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };  // 600/16  = 37.5  == 600px
    }

    @if $breakpoint == tablort {
        @media only screen and (max-width: 56.25em) { @content }; // 900/16  = 56.25 == 900px
    }

    @if $breakpoint == tablortouch {
        @media only screen and (max-width: 56.25em), only screen and (hover: none) { @content };
    }

    @if $breakpoint == tabland {
        @media only screen and (max-width: 75em) { @content };    // 1200/16 = 75    == 1200px
    }

    @if $breakpoint == bigesk {
        @media only screen and (min-width: 112.5em) { @content }; // 1800/16 = 112.5 == 1800px
    }

    // RESPONSIVE IMAGE
    @if $breakpoint == 2x {
        @media only screen and (min-resolution: 192dpi) and (max-width: 37.5em),
               only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 37.5em),
               only screen and (min-width: 125em) {
                    @content
                };
    }
}