%heading {
    font-family: $font-display;
    font-weight: 400;
}

h1, .heading-1 {
    @extend %heading;
}

h2, .heading-2 {
    @extend %heading;
}

h3, .heading-3 {
    @extend %heading;
}

h4, .heading-4 {
    @extend %heading;
    font-size: 1.9rem;

    &--light { color: $grey-light-1; }
    &--dark  { color: $grey-dark-1; }
}