.btn {
    &,
    &:link,
    &:visited {
        position        : relative;
        display         : inline-block;
        background-color: transparent;
        border          : none;
        cursor          : pointer;
        text-transform  : uppercase;
        text-decoration : none;

        @include transition(.2s);
    }

    &.round {
        &,
        &:link,
        &:visited {
            position     : relative;
            padding      : 0 7.5rem;
            border-radius: 10rem;
        }

        &:hover {
            transform : translateY(-.3rem);
            box-shadow: 0 1rem 2rem rgba($black, .2);

            &::after {
                opacity   : 0;
                visibility: hidden;
                animation : scale 1s;
            }
        }

        &:active {
            transform : translateY(-.1rem);
            box-shadow: 0 .5rem 1rem rgba($black, .2);
        }

        &:focus {
            outline  : none;
            animation: pulsate 1s infinite;
        }

        &::after {
            width        : 100%;
            height       : 100%;
            position     : absolute;
            top          : 0;
            left         : 0;
            display      : inline-block;
            z-index      : -1;
            border-radius: 10rem;
            content      : '';

            @include transition(.4s);
        }
    }

    &.text {
        &,
        &:link,
        &:visited {
            padding       : 0 0 .2rem;
            color         : var(--color-primary);
            border-bottom : .1rem solid currentColor;

            font-size     : inherit;
            text-transform: initial;
        }

        & span {
            margin-left: .3rem;
            @include transition(.2s, margin-left);
        }

        &:hover {
            color: var(--grey-dark-1);

            span {
                margin-left: .8rem;
            }
        }

        &:active, &:focus {
            outline  : none;
            animation: pulsate 1s infinite;
        }
    }

    &.brand {
        color           : $white;
        font-size       : 1.5rem;
        font-weight     : 300;
        background-image: ladient(to right, (var(--color-primary-light), var(--color-primary-dark)));

        &:hover {
            background-image: ladient(to left, (var(--color-primary-light), var(--color-primary-dark)));
        }

        &:after {
            background-image: ladient(to right, (var(--color-primary-light), var(--color-primary-dark)));
        }
    }

    &.white {
        color           : $grey-dark-1 ;
        background-color: $white;

        &:after {
            background-color: $white;
        }
    }

    &.green {
        color           : $white;
        background-color: $color-primary;

        &:after {
            background-color: $color-primary;
        }
    }

    &.animated {
        animation          : moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &__visible ,
    &__invisible  {
        display: inline-block;
        padding: 2rem 0;
        width  : 100%;
        height : 100%;

        @include transition(.2s);
    }

    &__invisible {
        position  : absolute;
        top       : -100%;
        left      : 0;
        opacity   : 0;
        visibility: hidden;
    }

    &:hover &__visible   {
        transform : translateY(100%);
        opacity   : 0;
        visibility: hidden;
    }

    &:hover &__invisible {
        top       : 0;
        opacity   : 1;
        visibility: visible;
    }
}