.overview {
    display      : flex;
    align-items  : center;
    border-bottom: var(--line);;

    &__heading {
        padding       : 1.5rem 3rem;
        font-size     : 2.25rem;
        font-weight   : 300;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__stars {
        display     : flex; // Flex in parent to remove space below SVGs
        margin-right: auto;
    }

    &__icon-star,
    &__icon-location {
        @include icon($i17, var(--color-primary));
    }

    &__location {
        display    : flex;
        align-items: center;
        font-size  : 1.2rem;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        align-self      : stretch;
        margin-left     : 3rem;
        padding         : 0 2.25rem;
        color           : $white;
        background-color: var(--color-primary);

        &-average {
            margin-bottom: -.3rem;
            font-size    : 2.25rem;
            font-weight  : 300;
        }

        &-count {
            font-size     : .8rem;
            text-transform: uppercase;
        }
    }
}