.recommend {
    display    : flex;
    align-items: center;
    color      : var(--grey-dark-3);
    font-size  : 1.3rem;

    &__count {
        margin-right: auto;
    }

    &__photo {
        width        : 4rem;
        height       : 4rem;
        border-radius: 50%;
        border       : .3rem solid $white;

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}