.section {
    padding         : 15rem 0;
    background-color: $grey-light-1;

    &.about {
        margin-top: -20vh;
        padding   : 25rem 0;
    }

    &.features {
        margin-top: -10rem;
        transform : skewY(-7deg);
        padding   : 20rem 0;

        @include gradient-img('nat-4');

        & > * {
            transform: skewY(7deg);
        }
    }

    &.tours {
        margin-top: -10rem;
        padding   : 25rem 0 15rem;
    }

    &.stories {
        position        : relative;
        background-color: transparent;
    }

    &.book {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    }
}

// Test BEA/BEMA: Remove __container and put it directly in class
.book {
    &__container {
        min-height     : 50rem;
        background-size: cover;
        border-radius  : $radius;
        box-shadow     : 0 1.5rem 4rem rgba($black, .2);

        @include gradient-img-only('nat-10', 105deg);
    }

    &__form {
        padding: 6rem;
        width: 50%;
    }
}