.header {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    height          : 7rem;
    background-color: $white;
    border-bottom   : 1px solid var(--grey-light-2);
    font-size       : 1.4rem;
}