.container {
    margin          : 8rem auto;
    max-width       : 120rem;
    min-height      : 50rem;
    background-color: var(--grey-light-2);
    box-shadow      : var(--shadow);

    @include respond(tabland) {
        margin   : 0;
        max-width: 100%;
        width    : 100%;
    }
}