.row {
    margin   : 0 auto;
    max-width: $grid-width;
    @include clearfix;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tablort) {
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include respond(tablort) {
        padding  : 0 3rem;
        max-width: $grid-width-small;
    }

    [class^='col-'] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tablort) {
                margin-right : 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tablort) {
            width: 100% !important;
        }
    }

    @for $i from 1 through 6 {
        @for $j from 1 through 6 {
            .col-#{$i}-of-#{$j} {
                width: calc-2d($i, $j, $gutter-horizontal);
            }
        }
    }
}