.row {
    margin   : 0 auto;
    max-width: $grid-width;
    @include clearfix;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    [class^='col-'] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    @for $i from 1 through 6 {
        @for $j from 1 through 6 {
            .col-#{$i}-of-#{$j} {
                width: calc-2d($i, $j, $gutter-horizontal);
            }
        }
    }
}